.root{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.overview{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
}

.leftCont,.rightCont{
    width: 50%;
    max-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftCont{
    padding-left: 20px;
    justify-content: end;
}


.leftCont div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-right: 50px;
    /* background-color: red; */
}

.leftCont div p:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
}
.leftCont div p:nth-child(2){
    font-size: 1.1em;
    word-spacing: 5px;
    line-height: 1.6em;
    font-weight: 300;
    color: rgba(43, 27, 27, 0.839);
}

.leftCont div button{
    align-self: flex-start;
    width: 160px;
    height: 45px;
    background-color: #2f5be7;
    border: none;
    color: white;
    box-shadow: 0px 0px 5px rgb(143, 141, 141);
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 0.8em;
    cursor: pointer;
}

.leftCont div button:hover{
    box-shadow: 0px 0px 7px rgb(74, 74, 74);
    font-size: 0.9em;

}

.rightCont img{
    width: 75%;
}

@media screen and (max-width:966px) {
    .root{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .overview{
      flex-wrap: wrap;
    }
    .leftCont,.rightCont{
        width: 100%;
        height: max-content;
        margin-bottom: 100px;
    }
    .leftCont div p{
        text-align: center;
    }
    .leftCont div button{
        align-self: center;
    }
}