
.navlnk{
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 200;
  color: rgb(47, 45, 45);
}

.icons{
  width:40px !important;
  height:40px !important;
}

@media only screen and (max-width:452px) {
  .icons{
    width:30px !important;
    height:30px !important;
  }
}
