name: GDSC NBN GHP Deploy

on: 
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version; [15.x]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v1